.cv-page {
    background-color: #2fe2ad;
    height: 100vh;
    text-align: center;
    font-size: 32px;
  }

  .cv-page {
    background-color: #2fe2ad;
    height: 100vh;
    text-align: center;
    font-size: 32px;
  }