.cv-page {
    background-color:  lightblue;

    min-width: 100vh;
  }

  .cv-page {
    background-color: #f1c40f;
    height: 100vh;
  }
  
  .hero-heading {
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-subheading {
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .hero-button {
    background-color: #e74c3c;
    border: none;
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
  }
  
  .hero-button:hover {
    background-color: #c0392b;
  }
  